html, body {
    margin: 0px;
    padding: 0px;
}
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: row;
    display: -webkit-flex;
    -webkit-flex-direction: row;
}

h4 {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

#viewer {
    height: 100%;
    min-width: 0px;
    flex: 1 0 auto;
    width: 80%;
}
#add-tileset-wrapper {
    margin-bottom: 0.5em;
}
.sidebar {
    height: 100%;
    flex: 0 1 auto;
    width: 20%;

    min-height: 0;
    overflow-y: auto;
}
.sidebar {
    padding-left: 0.5em;
    padding-right: 0.5em;
}
input#file {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
.editor {
    margin-top: 0.5em;
}
.editor-field {
    display: table-row;
}
.editor-field > * {
    display: table-cell;
    margin: 0.125em;
}
.entity-flyto {
    margin-bottom: 0.25em;
}
.editor-name {
    font-weight: bold;
    margin-bottom: 0.25em;
}
.editor-field:nth-child(even) > label {
    background-color: #ececec;
}
.editor-field:nth-child(odd) > label {
    background-color: #fafafa;
}

.editor-field button, .editor-field select {
    width: 100px;
}
.editor-field input {
    width: 96px;
}
.editor-field input.copy-property {
    width: auto;
    vertical-align: middle;
}
.editor-field .component-field-component {
    /* width: 43px; */
    margin-left: 2px;
}
.editor-field .copy-property-label {
    margin-left: 0.75em;
}

.entities-list {
    margin-top: 0.5em;
    border-top: 1px solid #666;
}

.entities-list div.selected {
    background-color: rgb(156, 221, 154);
}
.entities-list .appended {
    background-color: rgb(200, 219, 199);
}

.description {
    font-size: 10pt;
    font-family: Arial, Helvetica, sans-serif;
}


.v-toolbar__extension {
    background-color: gray;
}

.v-input--reverse .v-input__slot {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

.v-application--wrap {
    min-height: unset!important;
}

body::-webkit-scrollbar {
    display: none;
}

.highlight {
  border: 1px dashed gray;
}
