<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Cesium KML Editor</title>
  <link rel="stylesheet" href="js/cesium-1.67/Widgets/widgets.css">
  <script src="js/cesium-1.67/Cesium.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
    <div class="sidebar">
        <input type="file" id="file" accept=".kml, .kmz, .json, .czml"/>
        <div id="editor">
          <button v-if="filename" v-on:click="toCZML">as CZML</button>
          <a class="download-link" v-if="czml" :href="czml" :download="filename">Download</a>
          <div v-if="entity">
            <h4 class="entity-name">{{ entity.name }}</h4>
            <button class="entity-flyto" v-on:click="flyToEntity();">FlyTo</button>

            <billboard-editor v-if="entity.billboard" v-bind:billboard="entity.billboard"
              v-bind:copy-mode="copyType === 'billboard'"
              v-bind:on-copy-properties-change="onCopyPropertiesChange" >
              <button v-on:click="copyStyle('billboard')">Copy style</button>
              <button v-if="selection.length > 1" v-on:click="pasteStyle">
                Apply to {{selection.length}} objects
              </button>
            </billboard-editor>

            <polygon-editor v-if="entity.polygon" v-bind:polygon="entity.polygon"
              v-bind:copy-mode="copyType === 'polygon'"
              v-bind:on-copy-properties-change="onCopyPropertiesChange" >
              <button v-on:click="copyStyle('polygon')">Copy style</button>
              <button v-if="selection.length > 1" v-on:click="pasteStyle">
                Apply to {{selection.length}} objects
              </button>
            </polygon-editor>
          </div>
          <div v-if="entities.length > 0" class="entities-list">
            <h4>Entities:</h4>
            <entity v-for="e in entities" :key="e.id"
              v-bind:class="{selected: e === entity}"
              v-bind:selected="e === entity"
              v-bind:in-selection="selection.indexOf(e) >= 0"
              v-bind:entity="e"
              v-bind:copy-type="copyType"
              v-bind:select="selectEntity"
              v-bind:append="appendToSelection"
              v-bind:is-folder="isFolder"></entity>
          </div>
        </div>
    </div>
    <div id="viewer"></div>

    <script src="js/index.js" type="module"></script>
</body>
</html>