<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Cesium KML Editor</title>
  <link rel="stylesheet" href="js/cesium-1.67/Widgets/widgets.css">
  <script src="js/cesium-1.67/Cesium.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="css/styles.css">

  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
</head>

<body>
    <div class="sidebar">
      <div id="file-area">
        <!-- <label class="description" for="file">Load or drop KML (KMZ) or CZML or Geojson</label> -->
        <!-- <input type="file" id="file" multiple accept=".kml, .kmz, .json, .czml, .geojson"></input> -->
      </div>
      <div id="add-tileset-wrapper">
        <button id="add-tileset">Add 3D Tile set</button>
      </div>
      <div id="editor">
        <!-- Vuetify application start -->
        <v-app style="height: 90vh">

          <!-- File Upload Section -->
          <v-card color="grey lighten-1" flat class="mb-3">
            <v-toolbar dense flat dark color="black">
              <v-toolbar-title>Import KML/CZML/Geoson:</v-toolbar-title>
            </v-toolbar>
            <v-card-text class="text-center">
              <v-btn @click="$refs.uploadfile.click()" class="input-text">Drag here or select file</v-btn>
              <input v-show="false" type="file" ref="uploadfile" id="file" class="input-file" multiple accept=".kml, .kmz, .json, .czml, .geojson"></input>
            </v-card-text>
          </v-card>

          <!-- Entities List Section -->
          <v-card color="grey lighten-1" flat class="mb-3" v-if="entities.length > 0">
            <v-toolbar dense flat dark color="black">
              <v-toolbar-title>KML Entities:</v-toolbar-title>
              <template v-slot:extension class="entites-ext">
                Show [ ] polygons [x] pins
              </template>
            </v-toolbar>
            <v-card-text class="pa-0">
              <v-list
                color="grey lighten-1"
                dense
                height="200"
                class="overflow-y-auto py-0"
              >
                <v-list-item-group v-model="item" color="primary">
                  <entitycomponent v-for="(e, i) in entities" :key="i"
              v-bind:class="{selected: e === entity}"
              v-bind:selected="e === entity"
              v-bind:in-selection="selection.indexOf(e) >= 0"
              v-bind:entity="e"
              v-bind:copy-type="copyType"
              v-bind:select="selectEntity"
              v-bind:append="appendToSelection"
              v-bind:is-folder="isFolder"></entitycomponent>
                </v-list-item-group>
              </v-list>
            </v-card-text>
          </v-card>

          <!-- Editor Section -->
          <v-card color="grey lighten-1" flat class="mb-3" v-if="entity">
            <v-toolbar dense flat dark color="black">
              <v-toolbar-title>Edit Pins:</v-toolbar-title>
            </v-toolbar>
            <v-card-text class="text-center pt-0">
              
              <div v-if="entity">
                <h4 class="entity-name">{{ entity.name }}</h4>
                <button class="entity-flyto" v-on:click="flyToEntity();">FlyTo</button>

                <entity-info :entity="entity"></entity-info>

                <billboard-editor v-if="entity.billboard"
                  :entity="entity"
                  :billboard="entity.billboard"
                  :advanced="advanced"
                  :copy-mode="copyType === 'billboard'">

                  <batch-style-controls :active="false"></batch-style-controls>

                </billboard-editor>

                <polygon-editor v-if="entity.polygon" v-bind:polygon="entity.polygon"
                  v-bind:copy-mode="copyType === 'polygon'"
                  v-bind:on-copy-properties-change="onCopyPropertiesChange" >
                  <button v-on:click="copyStyle('polygon')">Copy style</button>
                  <button v-if="selection.length > 1" v-on:click="pasteStyle">
                    Apply to {{selection.length}} objects
                  </button>
                </polygon-editor>

                <polyline-editor :entity="entity">
                </polyline-editor>
                
                <v-checkbox id="advanced" class="v-input--reverse py-0 my-0" label="Advanced Editor:" v-model="advanced"></v-checkbox>
              </div>

              <div><v-btn>Update Pin</v-btn></div>
              <div class="mt-1"><v-btn>Copy to other pins</v-btn></div>
            </v-card-text>
          </v-card>

          <!-- Export Section -->
          <v-card color="grey lighten-1" flat class="mb-3" v-if="filename">
            <v-toolbar dense flat dark color="black">
              <v-toolbar-title>Export CZML:</v-toolbar-title>
            </v-toolbar>
            <v-card-text class="text-center">
              <v-btn @click="toCZML">Save as ...</v-btn>
            </v-card-text>
          </v-card>

        </v-app>
        
        <!-- <label for="advanced">Advanced editor:</label>
        <input type="checkbox" id="advanced" v-model="advanced"></input>

        
        <v-card color="grey lighten-1" flat class="mb-3">
          <v-toolbar dense flat dark color="black">
            <v-toolbar-title>Edit Pins:</v-toolbar-title>
          </v-toolbar>
          <v-card-text class="text-center">
            <v-text-field dense v-model="height" label="Height:"></v-text-field>
            <v-text-field dense v-model="bottom" label="Bottom:"></v-text-field>
            <v-text-field dense v-model="top" label="Top:"></v-text-field>
            <v-text-field
              dense
              v-model="transparency"
              label="Transparency:"
            ></v-text-field>
            <div><v-btn>Update Pin</v-btn></div>
            <div class="mt-1"><v-btn>Copy to other pins</v-btn></div>
          </v-card-text>
        </v-card>

        <v-card color="grey lighten-1" flat class="mb-3">
          <v-toolbar dense flat dark color="black">
            <v-toolbar-title>Export CZML:</v-toolbar-title>
          </v-toolbar>
          <v-card-text class="text-center">
            <v-btn>Save as ...</v-btn>
          </v-card-text>
        </v-card>
      </v-col>

    </v-app>
          <button v-if="filename" v-on:click="toCZML">Download as CZML</button>
          <a class="download-link" v-if="czml" :href="czml" :download="filename">Download</a>
          <div v-if="entity">
            <h4 class="entity-name">{{ entity.name }}</h4>
            <button class="entity-flyto" v-on:click="flyToEntity();">FlyTo</button>

            <entity-info :entity="entity"></entity-info>

            <billboard-editor v-if="entity.billboard" v-bind:billboard="entity.billboard"
              v-bind:copy-mode="copyType === 'billboard'"
              v-bind:on-copy-properties-change="onCopyPropertiesChange" >
              <button v-on:click="copyStyle('billboard')">Copy style</button>
              <button v-if="selection.length > 1" v-on:click="pasteStyle">
                Apply to {{selection.length}} objects
              </button>
            </billboard-editor>

            <polygon-editor v-if="entity.polygon" v-bind:polygon="entity.polygon"
              v-bind:copy-mode="copyType === 'polygon'"
              v-bind:on-copy-properties-change="onCopyPropertiesChange" >
              <button v-on:click="copyStyle('polygon')">Copy style</button>
              <button v-if="selection.length > 1" v-on:click="pasteStyle">
                Apply to {{selection.length}} objects
              </button>
            </polygon-editor>

            <polyline-editor :entity="entity">
            </polyline-editor>

          </div>
          <div v-if="entities.length > 0" class="entities-list">
            <h4>Entities:</h4>
            <button v-if="copySubject" @click="selectApplicable">Select all applicable</button>
            <entity v-for="e in entities" :key="e.id"
              v-bind:class="{selected: e === entity}"
              v-bind:selected="e === entity"
              v-bind:in-selection="selection.indexOf(e) >= 0"
              v-bind:entity="e"
              v-bind:copy-type="copyType"
              v-bind:select="selectEntity"
              v-bind:append="appendToSelection"
              v-bind:is-folder="isFolder"></entity>
          </div>
        </div>
        <div v-if="entities.length > 0" class="entities-list">
          <h4>Entities:</h4>
          <button v-if="copySubject" @click="selectApplicable">Select all applicable</button>
          <entity v-for="e in entities" :key="e.id"
            v-bind:class="{selected: e === entity}"
            v-bind:selected="e === entity"
            v-bind:in-selection="selection.indexOf(e) >= 0"
            v-bind:entity="e"
            v-bind:copy-type="copyType"
            v-bind:select="selectEntity"
            v-bind:append="appendToSelection"
            v-bind:is-folder="isFolder"></entity>
        </div> -->
      </div>
    </div>
    <div id="viewer"></div>
    <div id="dialog-container">
    </div>
    <script src="js/index.js" type="module"></script>
</body>
</html>